@font-face {
   font-family: 'Champagne & Limousines Bold';
   font-display: swap;
   src: url('file:///C:/Users/inama/AppData/Local/Mobirise.com/Mobirise/projects/project-2022-03-23_120036/fonts/Champagne%20&%20Limousines%20Bold/font.ttf');
}
